<header class="py-8">
  <nav>
    <ul class="flex justify-end gap-6">
      <li>
        <a
          href="#projects"
          class="text-muted-foreground hover:text-accent text-lg transition-colors"
          >Projects</a>
      </li>
      <li>
        <a
          href="#about"
          class="text-muted-foreground hover:text-accent text-lg transition-colors"
          >About</a>
      </li>
      <li>
        <a
          href="#contact"
          class="text-muted-foreground hover:text-accent text-lg transition-colors"
          >Contact</a>
      </li>
    </ul>
  </nav>
</header>
